extends layout

block content
  div#WrapperCenter
   ul#navTop
    li 
     a(href="/") Home
    li 
     a(href="/empresa", class="active") Sobre
    li 
     a(href="/contatos") Contatos

   div.content
    h1 Welcome to KIWI (Gerenciador de filas de tickets)
