extends layout

block content
  div#WrapperCenter
   ul#navTop
    li 
     a(href="/") Home
    li 
     a(href="/empresa") Sobre
    li 
     a(href="/contatos", class="active") Contatos

   div.content
    h1 Fale conosco
    form(method="post" id="frmContato")
     fieldset
      ul
       li
        label Nome: 
        input(type="text" name="name") 
       li
        label Email: 
        input(type="text" name="name")
       li
        label Telefone: 
        input(type="text" name="name")
       li
        input(type="submit" value="Enviar")
