extends layout

block content
  div#WrapperCenter
   ul#navTop
    li 
     a(href="/", class="active") Home
    li 
     a(href="/empresa") Sobre
    li 
     a(href="/contatos") Contatos

   div.content
    h1 Conheça um pouco mais sobre esse novo sistema
    p Welcome to KIWI (Gerenciador de filas de tickets)

