extends layout

block content
  div#WrapperCenter
   ul#navTop
    li 
     a(href="/", class="active") Home
    li 
     a(href="/empresa") Sobre
    li 
     a(href="/contatos") Contatos

   div.content
    h1 Conheça um pouco mais sobre esse novo sistema
    p Welcome to KIWI (Gerenciador de filas de tickets)



    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non iaculis urna. Vestibulum egestas tincidunt nulla et tempus. Praesent vestibulum ornare pellentesque. Maecenas tempor libero id felis iaculis sagittis. Nam nec auctor ipsum, a tincidunt tortor. Sed nec faucibus lorem. Phasellus sodales arcu magna, aliquet dapibus nunc varius id. Integer lacus dolor, rhoncus ac adipiscing ut, vestibulum eu enim. Donec id tristique leo, et luctus nibh. Aenean molestie, justo ut blandit dignissim, nunc ligula consequat nunc, eu ornare ligula sapien sed ligula.

    p Suspendisse nec porttitor ligula, in ultrices velit. Praesent molestie imperdiet vulputate. Curabitur vel sollicitudin est, vitae suscipit dui. Praesent auctor bibendum ante eget pretium. Quisque sodales sodales mauris. Integer imperdiet elit nec velit eleifend cursus. Pellentesque fringilla feugiat tortor, nec tempor velit viverra non. Duis congue odio tortor, eget sodales mi rhoncus ac. Sed tortor neque, posuere sed viverra eget, tincidunt a felis. Donec varius malesuada ornare. In ac sagittis ipsum. Phasellus elit urna, lacinia at luctus sed, tempus tempus nunc. Proin ac orci iaculis, pulvinar lacus vitae, ullamcorper nibh. In gravida odio vitae commodo imperdiet.

    p Fusce semper justo vel mauris egestas, vitae interdum lacus ornare. Aenean et accumsan odio. Duis dolor libero, tincidunt quis augue a, ornare tincidunt nisl. Integer ultricies rutrum nunc a auctor. Vivamus laoreet ut diam volutpat vulputate. Sed libero arcu, blandit vitae vehicula eu, sodales at risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla quis quam elementum odio fringilla sollicitudin et a arcu. Proin posuere magna odio, sit amet facilisis nisi suscipit non. In convallis quam eu urna cursus sagittis. Vestibulum tempus ut tortor ac placerat. Morbi consectetur lectus vitae accumsan faucibus. Nulla fringilla feugiat enim sit amet tristique. Proin non nisi vulputate, mollis turpis eget, dapibus diam. Aliquam ac euismod risus. Nunc dapibus dictum tellus, a placerat velit dictum sit amet.

    p Nulla nec nisi congue, varius mauris at, lobortis nisi. Duis non urna sed orci interdum tempus. Proin sodales, velit ut tincidunt scelerisque, dui lorem tincidunt tellus, ut condimentum urna sem non nisi. Phasellus vitae luctus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus tempor neque mollis lacus porttitor, in egestas leo facilisis. Nulla non tempus odio, non suscipit enim. Sed a nisl non dolor placerat porttitor eget id risus. Curabitur interdum ante nunc, eu luctus quam rutrum ac. Donec a diam rutrum, egestas eros at, mollis turpis. Nulla quis ultricies magna.

    p Aliquam blandit venenatis risus sit amet suscipit. Morbi quis nisi nisl. Proin egestas et nisi ullamcorper vestibulum. Proin sodales eros eu pharetra blandit. Nullam et lorem in nunc condimentum molestie ultrices vitae massa. Fusce posuere feugiat mauris, nec consequat magna mattis sit amet. Nullam congue, ante congue condimentum condimentum, ipsum lectus ornare nulla, non dictum risus velit id augue. Duis a suscipit eros. Ut ornare ut diam sed posuere. 