doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
  body
    block content